# Import the necessery modules

In [120]:
import pandas as pd

# Taking a glance at the datasets
Import both the strava and the strong data in a dataframe so we can take a closer look

In [121]:
dfstrava= pd.read_csv('activities.csv')
dfstrava.head()

,When,Type,Gear,Name,Dist km,Elv m,Elapsed Time,Moving Time,Start Time,Day of Week,...,Pace Zone 5,Pace Zone 6,Flagged,Description,City,State,Tiles calculated,Device/App,Activity Id,Activity Id.1
0,2020-09-21 17:08:56,Ride,Cannondale Topstone,Afternoon Ride,91411.2,420.1,14770,13201,61736,Monday,...,0,0,0,NaN,NaN,NaN,0,Strava iPhone App,4093621421,4093621421
1,2020-09-14 17:04:58,Ride,Cannondale Topstone,Afternoon Ride,14517.8,324.0,3671,2822,61498,Monday,...,0,0,0,NaN,NaN,NaN,0,Strava iPhone App,4059287312,4059287312
2,2020-09-13 14:49:30,Ride,Cannondale Topstone,Afternoon Ride,144595.0,1316.9,28490,22841,53370,Sunday,...,0,0,0,NaN,NaN,NaN,0,Strava iPhone App,4056131933,4056131933
3,2020-09-09 19:49:26,Ride,Cannondale Topstone,Evening Ride,31064.1,273.2,4881,4082,71366,Wednesday,...,0,0,0,NaN,NaN,NaN,0,Strava iPhone App,4036267332,4036267332
4,2020-09-06 17:36:07,Ride,Cannondale Topstone,Afternoon Ride,53796.1,321.1,7984,7890,63367,Sunday,...,0,0,0,NaN,NaN,NaN,0,Strava iPhone App,4022170838,4022170838

In [122]:
dfstrong = pd.read_csv('strong.csv')
dfstrong.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,1,70.0,5,0.0,0,NaN,NaN,NaN
1,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,2,70.0,5,0.0,0,NaN,NaN,NaN
2,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,3,90.0,5,0.0,0,NaN,NaN,NaN
3,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,4,90.0,5,0.0,0,NaN,NaN,NaN
4,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,5,90.0,5,0.0,0,NaN,NaN,NaN

# Manipulating the dataframes

Adding a column with the source

In [123]:
dfstrong['Source'] = 'strong'
dfstrava['Source'] = 'strava'

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE,Source
2229,2020-09-24 12:25:12,Midday Workout,Lat Pulldown,5,80.0,5,0.0,0,NaN,NaN,NaN,strong
2230,2020-09-24 12:25:12,Midday Workout,Touch Ankle Sideways,1,0.0,20,0.0,0,NaN,NaN,NaN,strong
2231,2020-09-24 12:25:12,Midday Workout,Touch Ankle Sideways,2,0.0,20,0.0,0,NaN,NaN,NaN,strong
2232,2020-09-24 12:25:12,Midday Workout,Touch Ankle Sideways,3,0.0,40,0.0,0,NaN,NaN,NaN,strong
2233,2020-09-24 12:25:12,Midday Workout,Plank,1,0.0,0,0.0,90,NaN,NaN,NaN,strong

We're going to only use the columns we want use from the strava file and name those columns so that they match the ones in the strong file

In [125]:
dfstrava = pd.read_csv('activities.csv', header=0, usecols=['When', 'Type', 'Dist km', 'Elapsed Time', 'Speed km/h'])
dfstrava.columns =['Date', 'Exercise Name','Distance', 'Seconds', 'Speed']
dfstrava.head()

                  Date Exercise Name  Distance  Seconds   Speed
0  2020-09-21 17:08:56          Ride   91411.2    14770  6.9246
1  2020-09-14 17:04:58          Ride   14517.8     3671  5.1445
2  2020-09-13 14:49:30          Ride  144595.0    28490  6.3305
3  2020-09-09 19:49:26          Ride   31064.1     4881  7.6100
4  2020-09-06 17:36:07          Ride   53796.1     7984  6.8183

Changing the exercise with name from "Ride" to "Cycling" so that they match the strong name

In [137]:
dfstrava = dfstrava.replace('Ride', 'Cycling')

Converting the distance in the strong file from meter to km, to allign with strava data

In [127]:
dfstrong.Distance = dfstrong.Distance*1000

Computing the value for 'Speed' in strong dataframe

In [138]:
dfstrong['Speed'] = dfstrong["Distance"] / (dfstrong["Seconds"]/3.6)

Coverting the value for speed in the strava file from m/s to km/u

In [139]:
dfstrava['Speed'] = dfstrava["Distance"] / (dfstrava["Seconds"]/3.6)

<h1>Adding the two dataframes into one

In [135]:
dfcombo = dfstrong.append(dfstrava, 'sort=True')
dfcombo

,Date,Distance,Exercise Name,Notes,RPE,Reps,Seconds,Set Order,Source,Speed,Weight,Workout Name,Workout Notes
0,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,1.0,strong,NaN,70.0,Back Stronglifts,NaN
1,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,2.0,strong,NaN,70.0,Back Stronglifts,NaN
2,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,3.0,strong,NaN,90.0,Back Stronglifts,NaN
3,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,4.0,strong,NaN,90.0,Back Stronglifts,NaN
4,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,5.0,strong,NaN,90.0,Back Stronglifts,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2314,2019-04-13 16:22:06,3687.5,Run,NaN,NaN,NaN,8999787,NaN,NaN,0.001475,NaN,NaN,NaN
2315,2018-07-27 20:06:55,35863.2,Cycling,NaN,NaN,NaN,10111,NaN,NaN,12.769016,NaN,NaN,NaN
2316,2017-09-17 20:13:56,8744.8,Cycling,NaN,NaN,NaN,2163,NaN,NaN,14.554452,NaN,NaN,NaN
2317,2017-09-17 15:09:29,8421.9,Cycling,NaN,NaN,NaN,1743,NaN,NaN,17.394630,NaN,NaN,NaN
2318,2017-07-28 20:10:44,33529.3,Cycling,NaN,NaN,NaN,9896,NaN,NaN,12.197401,NaN,NaN,NaN

<h1>Write the dataframe to csv in the right directory so further exploration in tableau can be done<h1>

In [136]:
dfcombo.to_csv('strongstravacombo.csv')
dfcombo.to_csv('/Users/glencoppens/My Tableau Repository/Datasources/strongstravacombo')

Write dataframe to sqlitedb so I can mess around a bit more in metabase

to do