# Import the necessery modules

In [1]:
import pandas as pd

# Taking a glance at the datasets
Import both the strava and the strong data in a dataframe so we can take a closer look

In [11]:
dfstrava= pd.read_csv('strava_data.txt')
dfstrava.head()

,id,start_date,name,distance,moving_time,type,average_heartrate,max_heartrate,average_speed,max_speed,total_elevation_gain,start_latlng,end_latlng,weather_icon,weather_summary,weather_temperature
0,1106056853,2017-07-28T18:10:44Z,Zomaar bike,33529.3,8510,Ride,6,7,3.940,12.3,411.7,"[50.831202,4.234985]","[50.831209,4.234964]",partly-cloudy-day,Mostly Cloudy,18.46
1,1188348699,2017-09-17T13:09:29Z,Afternoon Ride,8421.9,1706,Ride,6,7,4.937,10.1,85.2,"[50.858227,4.277674]","[50.852648,4.347719]",partly-cloudy-day,Partly Cloudy,15.85
2,1189136755,2017-09-17T18:13:56Z,Evening Ride,8744.8,2162,Ride,6,7,4.045,11.9,100.6,"[50.852603,4.351574]","[50.854756,4.263382]",partly-cloudy-night,Partly Cloudy,13.18
3,2286729315,2018-07-27T18:06:55Z,Evening Ride,35863.2,8840,Ride,6,7,4.057,10.4,380.7,"[50.830936,4.234424]","[50.831244,4.235131]",NaN,NaN,29.32
4,2565205233,2019-04-13T14:22:06Z,Afternoon Ride,3687.5,1442,Run,6,7,2.557,4.2,70.4,"[50.881961,4.310081]","[50.884012,4.301994]",partly-cloudy-day,Mostly Cloudy,8.11

In [13]:
dfstrong = pd.read_csv('strong.csv')
dfstrong.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,1,70.0,5,0.0,0,NaN,NaN,NaN
1,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,2,70.0,5,0.0,0,NaN,NaN,NaN
2,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,3,90.0,5,0.0,0,NaN,NaN,NaN
3,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,4,90.0,5,0.0,0,NaN,NaN,NaN
4,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,5,90.0,5,0.0,0,NaN,NaN,NaN

# Manipulating the dataframes

Adding a column with the source

In [9]:
dfstrong_raw['Source'] = 'strong'
dfstrong_raw.tail()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE,Source
2112,2020-03-26 23:30:32,Evening Workout,Jump Rope,1,0.0,0,0.0,300,NaN,NaN,NaN,strong
2113,2020-03-26 23:30:32,Evening Workout,Ab Wheel,1,0.0,10,0.0,0,NaN,NaN,NaN,strong
2114,2020-03-26 23:30:32,Evening Workout,Ab Wheel,2,0.0,10,0.0,0,NaN,NaN,NaN,strong
2115,2020-03-26 23:30:32,Evening Workout,Squat (Bodyweight),1,0.0,40,0.0,0,NaN,NaN,NaN,strong
2116,2020-03-26 23:30:32,Evening Workout,Squat (Bodyweight),2,0.0,10,0.0,0,NaN,NaN,NaN,strong

We're going to only use the columns we want use from the strava file and name those columns so that they match the ones in the strong file

In [4]:
dfstrava = pd.read_csv('strava_data.txt', header=0, usecols=['start_date', 'name', 'distance', 'moving_time', 'type'])
dfstrava.columns =['Date', 'Workout Name', 'Distance', 'Seconds', 'Exercise Name']
dfstrava['Source'] = 'strava'
dfstrava.head()

,Date,Workout Name,Distance,Seconds,Exercise Name,Source
0,2017-07-28T18:10:44Z,Zomaar bike,33529.3,8510,Ride,strava
1,2017-09-17T13:09:29Z,Afternoon Ride,8421.9,1706,Ride,strava
2,2017-09-17T18:13:56Z,Evening Ride,8744.8,2162,Ride,strava
3,2018-07-27T18:06:55Z,Evening Ride,35863.2,8840,Ride,strava
4,2019-04-13T14:22:06Z,Afternoon Ride,3687.5,1442,Run,strava

Changing the exercise with name from "Ride" to "Cycling" so that they match the strong name

In [5]:
dfstrava = dfstrava.replace('Ride', 'Cycling')

Changing the distances in the strong data file to metres from km, so we can compare apples to apples

In [6]:
dfstrong_raw.Distance = dfstrong_raw.Distance*1000
dfstrong_raw.tail(70)

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE,Source
2047,2020-02-26 12:52:26,Midday Workout,Cycling,1,0.0,0,12330.0,1200,240 cal,NaN,NaN,strong
2048,2020-02-26 12:52:26,Midday Workout,Plank,1,0.0,0,0.0,120,NaN,NaN,NaN,strong
2049,2020-02-26 12:52:26,Midday Workout,Plank,2,0.0,0,0.0,120,NaN,NaN,NaN,strong
2050,2020-02-26 12:52:26,Midday Workout,Pull Up,1,0.0,5,0.0,0,NaN,NaN,NaN,strong
2051,2020-02-26 12:52:26,Midday Workout,Pull Up,2,0.0,5,0.0,0,NaN,NaN,NaN,strong
...,...,...,...,...,...,...,...,...,...,...,...,...
2112,2020-03-26 23:30:32,Evening Workout,Jump Rope,1,0.0,0,0.0,300,NaN,NaN,NaN,strong
2113,2020-03-26 23:30:32,Evening Workout,Ab Wheel,1,0.0,10,0.0,0,NaN,NaN,NaN,strong
2114,2020-03-26 23:30:32,Evening Workout,Ab Wheel,2,0.0,10,0.0,0,NaN,NaN,NaN,strong
2115,2020-03-26 23:30:32,Evening Workout,Squat (Bodyweight),1,0.0,40,0.0,0,NaN,NaN,NaN,strong
2116,2020-03-26 23:30:32,Evening Workout,Squat (Bodyweight),2,0.0,10,0.0,0,NaN,NaN,NaN,strong

Adding the two dataframes into one

In [7]:
dfcombo = dfstrong_raw.append(dfstrava, 'sort=True')
dfcombo

/Users/glencoppens/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,Date,Distance,Exercise Name,Notes,RPE,Reps,Seconds,Set Order,Source,Weight,Workout Name,Workout Notes
0,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,1.0,strong,70.0,Back Stronglifts,NaN
1,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,2.0,strong,70.0,Back Stronglifts,NaN
2,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,3.0,strong,90.0,Back Stronglifts,NaN
3,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,4.0,strong,90.0,Back Stronglifts,NaN
4,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,5.0,strong,90.0,Back Stronglifts,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2143,2020-04-02T13:26:59Z,56034.7,Cycling,NaN,NaN,NaN,9137,NaN,strava,NaN,Afternoon Ride,NaN
2144,2020-04-03T16:00:55Z,28271.5,Cycling,NaN,NaN,NaN,6315,NaN,strava,NaN,Evening Ride,NaN
2145,2020-04-04T08:18:27Z,51409.1,Cycling,NaN,NaN,NaN,8877,NaN,strava,NaN,Morning Ride,NaN
2146,2020-04-07T17:15:38Z,15892.3,Cycling,NaN,NaN,NaN,2443,NaN,strava,NaN,Evening Ride,NaN
2147,2020-04-08T13:12:09Z,30076.8,Cycling,NaN,NaN,NaN,5318,NaN,strava,NaN,Afternoon Ride,NaN

Write the dataframe as a csv in the right directory so further exploration in tableau can be done

In [8]:
dfcombo.to_csv('/Users/glencoppens/My Tableau Repository/Datasources/strongstravacombo.csv')