Import the necessery modules

In [48]:
import pandas as pd

Import both the strava and the strong data in a dataframe so we can take a closer look

In [49]:
dfstrava_raw = pd.read_csv('strava_data.txt')
dfstrava_raw.head()

,id,start_date,name,distance,moving_time,type,average_heartrate,max_heartrate,average_speed,max_speed,total_elevation_gain,start_latlng,end_latlng,weather_icon,weather_summary,weather_temperature
0,1106056853,2017-07-28T18:10:44Z,Zomaar bike,33529.3,8510,Ride,6,7,3.940,12.3,411.7,"[50.831202,4.234985]","[50.831209,4.234964]",partly-cloudy-day,Mostly Cloudy,18.46
1,1188348699,2017-09-17T13:09:29Z,Afternoon Ride,8421.9,1706,Ride,6,7,4.937,10.1,85.2,"[50.858227,4.277674]","[50.852648,4.347719]",partly-cloudy-day,Partly Cloudy,15.85
2,1189136755,2017-09-17T18:13:56Z,Evening Ride,8744.8,2162,Ride,6,7,4.045,11.9,100.6,"[50.852603,4.351574]","[50.854756,4.263382]",partly-cloudy-night,Partly Cloudy,13.18
3,2286729315,2018-07-27T18:06:55Z,Evening Ride,35863.2,8840,Ride,6,7,4.057,10.4,380.7,"[50.830936,4.234424]","[50.831244,4.235131]",NaN,NaN,29.32
4,2565205233,2019-04-13T14:22:06Z,Afternoon Ride,3687.5,1442,Run,6,7,2.557,4.2,70.4,"[50.881961,4.310081]","[50.884012,4.301994]",partly-cloudy-day,Mostly Cloudy,8.11

In [50]:
dfstrong_raw = pd.read_csv('strong.csv')
dfstrong_raw.head()

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,1,70.0,5,0.0,0,NaN,NaN,NaN
1,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,2,70.0,5,0.0,0,NaN,NaN,NaN
2,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,3,90.0,5,0.0,0,NaN,NaN,NaN
3,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,4,90.0,5,0.0,0,NaN,NaN,NaN
4,2016-03-07 21:34:52,Back Stronglifts,Lat Pulldown,5,90.0,5,0.0,0,NaN,NaN,NaN

We're going to only use the columns we want use from the strava file and name those columns so that they match the ones in the strong file

In [51]:
dfstrava = pd.read_csv('strava_data.txt', header=0, usecols=['start_date', 'name', 'distance', 'moving_time', 'type'])
dfstrava.columns =['Date', 'Workout Name', 'Distance', 'Seconds', 'Exercise Name']
dfstrava.head()

                   Date    Workout Name  Distance  Seconds Exercise Name
0  2017-07-28T18:10:44Z     Zomaar bike   33529.3     8510          Ride
1  2017-09-17T13:09:29Z  Afternoon Ride    8421.9     1706          Ride
2  2017-09-17T18:13:56Z    Evening Ride    8744.8     2162          Ride
3  2018-07-27T18:06:55Z    Evening Ride   35863.2     8840          Ride
4  2019-04-13T14:22:06Z  Afternoon Ride    3687.5     1442           Run

Changing the exercise with name from "Ride" to "Cycling" so that they match the strong name

In [55]:
dfstrava.replace('Ride', 'Cycling')

                    Date    Workout Name  Distance  Seconds Exercise Name
0   2017-07-28T18:10:44Z     Zomaar bike   33529.3     8510       Cycling
1   2017-09-17T13:09:29Z  Afternoon Ride    8421.9     1706       Cycling
2   2017-09-17T18:13:56Z    Evening Ride    8744.8     2162       Cycling
3   2018-07-27T18:06:55Z    Evening Ride   35863.2     8840       Cycling
4   2019-04-13T14:22:06Z  Afternoon Ride    3687.5     1442           Run
5   2019-07-26T18:18:46Z     Zomaar bike   31631.0    10006       Cycling
6   2019-08-24T17:00:13Z    Evening Ride   25082.0     4586       Cycling
7   2019-08-25T09:32:49Z      Lunch Ride   26253.9     6038       Cycling
8   2019-08-27T05:44:32Z    Morning Ride   27892.2     4934       Cycling
9   2019-08-27T15:37:28Z  Afternoon Ride   27484.1     5580       Cycling
10  2019-08-31T06:41:45Z    Morning Ride   92169.8    20132       Cycling
11  2019-09-01T07:55:34Z    Morning Ride   85712.1    17466       Cycling
12  2019-09-02T08:21:47Z    Morning Ride   87212.1    17596       Cycling
13  2019-09-03T12:12:59Z  Afternoon Ride   53419.4     8498       Cycling
14  2019-09-17T05:34:08Z     Morning Run    6358.9     3068           Run
15  2019-11-26T02:08:41Z    Morning Ride   67682.6    12376       Cycling
16  2019-11-27T01:29:17Z    Morning Ride   80875.6    13329       Cycling
17  2019-11-28T01:12:38Z    Morning Ride   87446.2    20133       Cycling
18  2019-11-29T01:20:01Z    Morning Ride   68802.0    12781       Cycling
19  2020-03-14T09:28:27Z    Morning Ride   21683.4     4645       Cycling
20  2020-03-23T16:40:30Z   Afternoon Run    3265.4     1073           Run
21  2020-03-27T15:34:46Z  Afternoon Ride   23447.3     4304       Cycling
22  2020-03-28T17:30:26Z    Evening Ride   15471.3     2620       Cycling
23  2020-03-29T14:46:15Z  Afternoon Ride   25985.9     4277       Cycling
24  2020-03-30T16:26:00Z    Evening Ride    7188.0     1257       Cycling
25  2020-03-31T16:37:14Z    Evening Ride   33033.1     5494       Cycling
26  2020-04-02T13:26:59Z  Afternoon Ride   56034.7     9137       Cycling
27  2020-04-03T16:00:55Z    Evening Ride   28271.5     6315       Cycling
28  2020-04-04T08:18:27Z    Morning Ride   51409.1     8877       Cycling

Adding the two dataframes into one

In [52]:
dfcombo = dfstrong_raw.append(dfstrava, 'sort=False')
dfcombo

,Date,Distance,Exercise Name,Notes,RPE,Reps,Seconds,Set Order,Weight,Workout Name,Workout Notes
0,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,1.0,70.0,Back Stronglifts,NaN
1,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,2.0,70.0,Back Stronglifts,NaN
2,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,3.0,90.0,Back Stronglifts,NaN
3,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,4.0,90.0,Back Stronglifts,NaN
4,2016-03-07 21:34:52,0.0,Lat Pulldown,NaN,NaN,5.0,0,5.0,90.0,Back Stronglifts,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1885,2020-03-30T16:26:00Z,7188.0,Ride,NaN,NaN,NaN,1257,NaN,NaN,Evening Ride,NaN
1886,2020-03-31T16:37:14Z,33033.1,Ride,NaN,NaN,NaN,5494,NaN,NaN,Evening Ride,NaN
1887,2020-04-02T13:26:59Z,56034.7,Ride,NaN,NaN,NaN,9137,NaN,NaN,Afternoon Ride,NaN
1888,2020-04-03T16:00:55Z,28271.5,Ride,NaN,NaN,NaN,6315,NaN,NaN,Evening Ride,NaN
1889,2020-04-04T08:18:27Z,51409.1,Ride,NaN,NaN,NaN,8877,NaN,NaN,Morning Ride,NaN

Write the dataframe as a csc so further exploration can be done

In [57]:
dfcombo.to_csv('strongstravacombo.csv')